body{
	background-image: url('2.1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#topbar{
	margin-right:  15px;
	padding: 10px;
	margin-top: 10px;
	min-height: 40px;
	color: white;
}
#topbar a{
	padding: 10px;
	size: 20px;
	color: white;
}
#topbar .fa{
   font-size: 20px;
   color: white;
}
.link{
	text-decoration: none;
}
.linkerd {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #fff !important;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	display: inline-block;
	margin-left: -5%;
	margin-right: 5%;
}
.link--takiri {
	font-style: italic;
	font-family: 'Kaushan Script', serif;
	font-weight: 700;
	font-size: 7em;
	padding: 0 10px 20px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--takiri:hover {
	color: #fff !important;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.link--takiri:hover::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
	transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

.grid_gal{
  min-width: 100% !important;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

.link--takiri span {
	font-size: 20%;
	font-weight: 400;
	position: absolute;
	right: 15px;
	color: rgb(255, 255, 255);
	bottom: 0;
	opacity: 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.card{
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;

}
footer{
	background-color: black;
	color: white;
	font-size: 22px;
	padding: 10px;
}

/* Media Queries */

@media screen and (max-width: 42em) {
	.link--takiri {
		font-size: 2.5em;
	}
}


/* grid_gal */

.grid_gal__item {
	margin: 2%;
	padding: 2%;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0, 0, 0);
	width: 100% !important;
	

	/* Solves Safari bug because of SVG clipping mask */
}

.grid_gal__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

@media screen and (max-width: 50em) {
	.grid_gal__item {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	
    .grid_gal{
        margin-top: 8% !important;
    }

}