*{
	padding: 0px;
	margin-bottom: 0px;
}
body{
	background-image: url("2.1.jpg");
	background-size: cover;	
}
#particle_background canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%;
	background-repeat: repeat;

}
#headlogo{

}

#timer{
	color: black;
}
#topbar{
	margin-right:  15px;
	padding: 20px;
	min-height: 40px;
	background-color: transparent;
}
#topbar a{
	padding-left: 10px;
	size: 20px;
	color: white;
	
}
#topbar .fa{
   font-size: 20px;
   color: white;
}
#logo{
	padding-top: 15px;
	margin-left: 30px;
	opacity: 1.2;
}

#register{
	position: absolute;
	bottom: 50px;
	margin-left: 20px;
	padding: 9px;
	height: 40px;
	padding-bottom: 30px;
}
.bot{
	margin-right: 45px;
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	right: 0;
}
#timer{
	align-items: center;
	margin-left: 50%
	margin-right: auto;
	animation-timing-function: linear;

}
#timer h2{
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes slidein{
	from{
		margin-left: 50%;
		width: 40%
	}
	to{
		margin-left:-20%;
		width: 100%;
	}
}
#clock{
	display: flex;
	align-self: center;
	margin-left: 10%;


}
#clock div{
	width: auto;
	padding: 10px;
	margin:0px 5px;
	background-color: #262626;
	color: #fff;
	border:2px solid #000;
}
#clock div:last-child{
	background-color: #e91e63;
}

@media only screen and (max-width: 500px){
	#clock{
		display: flex;
		align-self: center;
		margin-left: 10%;
	}
}