*{
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
}
.banner{
	height: 100vh;
	position: relative;
}

.slider{
	width: 93%;
	float: left;
}
.carousel-caption{
	max-height: 350px ! important;
	max-width: 500px ! important;
	text-align: right !important;
	right: 60px !important;
	left: auto !important;
	top: 160px !important;
}
.carousel-caption h1{
	font-size: 70px;

}
.carousel-caption p{
	margin-top: 40px;
}
.side-menu{
	height: 100%;
	width: 7%;
	float: right;
	background-color: green;
	position: relative;
	z-index: 2;
}
.menu-icon{
	width: 40px;
	margin: 20px;
	cursor: pointer;

}
.search-icon{
	width: 30px;
	margin: 30px;
	cursor: pointer;
}
.side-menu::after{
	content: '';
	width: 1px;
	height: 200px;
	background:#fff;
	position: absolute;
}
.carousel-indicators{
	left: 85% ! important;
	height: 40% ! important;
	width: 95% ! important;
	top: 55% ! important;
	display: block ! important;
	color: white;
	align-self: center;
}
.carousel-indicators li{
    width: 10px ! important;
	height: 10px ! important;
	border-radius: 60% ! important;
	margin-left: 30px ! important;
	margin-top: 15px ! important ;
	background:transparent ! important;
	border:2px solid #fff ! important;
}